.p-menubar {
    font-size: 1.2rem; /* ปรับขนาดตัวอักษร */
  }
  
  .p-menubar .p-menubar-start img {
    height: 60px; /* ปรับขนาดโลโก้ */
  }
  
  .p-menubar .p-menubar-end .p-button {
    font-size: 1rem; /* ปรับขนาดตัวอักษรปุ่ม */
  }
  